.hide {
    visibility: collapse;
}
#admin-body{
    background: black;
}
.page-content{
    padding: 0 30px;
}
.page-title{
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
}
.section-title{
    margin-bottom: 15px;
}
.settings-section-title{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: 32px;
}
.responsive-nav-grid{
    display: grid;
    margin: 0.5rem;
}
@media (min-width: 992px) {
    .push-right-lg{
        margin-left: auto !important;
    }
}
.center{
    align-items: center;
}
.card-content{
    margin: 0;
    text-align: center; 
}
.card-header{
    text-align: center;
    font-size: 23px;
}

.search-button{
	margin-left: 10px;
	margin-bottom: 10px;
}

.fileInputBar{
	margin-left: 10px;
	display: flex;
}
.fileInputSection{
	width: 30% !important;
}

.dataValues{
	display: flex;
	padding-top: 6px;
	margin-right: 10px;
}
.avgValue{
	margin-left: 10px;
}
.totalValue{
	margin-left: 10px;
}

.shadow{
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow:focus{
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#dashboardButton{
    cursor: pointer;
}
#inventoryButton{
    cursor: pointer;
}
#settingsButton{
    cursor: pointer;
}
#cardButton{
	cursor: pointer;
}



.sidebar-selected{
    background-color: #007bff !important;
    color: white !important;
}
.sidebar-selected:hover{
    background-color: #0271e9 !important;
    color: white !important;
}
#updatePasswordButton{
	margin-top: 10px;
}
#deleteUserButton{
	margin-top: 10px;
}

.settings-input{
    box-shadow: 0 0 0 0 !important;
    border-color: #73AFCA;
    color: #507A8E;
}
.settings-input:focus{
    box-shadow: 0 0 0 0 !important;
    border-color: #73AFCA;
    color: #507A8E;
}

.search-mini-nav{
	display: flex;
	margin: 0 10px 0 0 !important;
}

.left-mini-nav{
	margin-right: auto;
    margin-left: 0;
}
.right-mini-nav{
	margin-right: 0;
    margin-left: auto;
}

.popup-body{
	padding: 6px 20px 12px 20px;
}

.normal-section-title{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: 24px;
}
.top-of-section{
	margin-top: 0px !important;
}
.normal-input{
    box-shadow: 0 0 0 0 !important;
    border-color: #73AFCA;
    color: #507A8E;
}
.normal-input:focus{
    box-shadow: 0 0 0 0 !important;
    border-color: #73AFCA;
    color: #507A8E;
}

.helperText{
    color: #73AFCA;
}
.helperText a{
    color: #507A8E;
}
#logoutButton{
    margin: 5px 0;
}
#timerangeDropdown{
    color: white;
}
#companyDropdown{
    color: white;
}
.dropdown-item:active{
	color: white !important;
	background-color: #73AFCA;
}
#sinceTimeRange{
    margin: 0 !important;
    font-style: italic;
    color: lightgrey;
}
#nameLabel{
    padding: 0.5rem 0.5rem;
}
#companyLabel{
    padding: 0.5rem 1rem;
}
#settingsSaveButton{
    margin-top: 25px;
}

.bg-light-green{
    background-color: #6DA36D;
}
.bg-light-blue{
    background-color: #73AFCA;
}
.bg-light-red{
    background-color: #CA8373;
}
.bg-light-orange{
    background-color: #E4C680;
}
.title-light-green{
    color: #4E754E;
}
.title-light-blue{
    color: #507A8E;
}
.title-light-red{
    color: #89594E;
}
.title-light-orange{
    color: #AA935C;
}

/* Main Branding CSS */
.main-title-color{
    color: #507A8E;
}
.sidekick-title-color{
    color: #73AFCA;
}
.main-button-color{
    background-color: #73AFCA !important;
    color: white !important;
}
.main-button-color:hover{
    background-color: #507A8E !important;
}
/*
.main-button-color:focus{
    box-shadow: 0 0 0 0 !important;
}
*/
.sidekick-button-color{
    background-color: #507A8E !important;
    color: white !important;
}
.sidekick-button-color:hover{
    background-color: #73AFCA !important;
}
.sidekick-button-color:focus{
    box-shadow: 0 0 0 0 !important;
}
.red-button-color{
    background-color: #CA8373 !important;
    color: white !important;
}
.red-button-color:hover{
    background-color: #89594E !important;
}
.red-button-color:focus{
    box-shadow: 0 0 0 0 !important;
}

.yellow-button-color{
    background-color: #E4C680 !important;
    color: white !important;
}
.yellow-button-color:hover{
    background-color: #AA935C !important;
}
.yellow-button-color:focus{
    box-shadow: 0 0 0 0 !important;
}

.green-button-color{
    background-color: #6DA36D !important;
    color: white !important;
}
.green-button-color:hover{
    background-color: #4E754E !important;
}
.green-button-color:focus{
    box-shadow: 0 0 0 0 !important;
}

.sidebar-button-color-selected{
    background-color: #73AFCA !important;
    color: white !important;
}
.sidebar-button-color-selected:hover{
    background-color: #507A8E !important;
}
.sidebar-button-color-notselected{
    background-color: white !important;
    color: #507A8E !important;
}
.sidebar-button-color-notselected:hover{
    background-color: #DEE2E6 !important;
}

.hiddenRow{
		padding: 0 !important;
}
